.foot {
  padding: 60px 0;
  font-style: normal;
  background: #2f303a;
}
.foot-address {
  margin-top: 20px;
}
.link-foot,
.link-foot-color {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--grey-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-element:not(:first-child) {
  margin-top: 9px;
}

.link-foot-color {
  color: var(--white-color);
}
.foot-color {
  font-style: normal;
  font-family: roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.logo-foot-element {
  color: var(--white-color);
}
.join-list,
.footer-conteiner,
.address-conteiner,
.address {
  display: flex;
}
.footer-conteiner {
  align-items: baseline;
}
.join-title {
  margin-bottom: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.join-icon {
  fill: var(--white-color);
}
.join-box {
  margin-left: 70px;
}
.footer-email {
  margin-left: 93px;
}

.foot-post-input {
  margin-right: 12px;
  margin-top: 20px;
  background-color: inherit;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid var(--grey-color);
}
.foot-post-input::placeholder {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.footer-icon {
  fill: var(--white-color);
}
.join-btn {
  
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  display: inline-flex;
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.footer-button-text {
  margin-right: 10px;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.footer-email-text {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

