.team-section {
  background: #f5f4fa;
}
.team-item:not(:first-child) {
  margin-left: 30px;
}
.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.features-title {
  text-transform: uppercase;
}
.card /*team-card-conteiner*/ {
  background-color: var(--white-color);
  text-align: center;
  padding: 30px 0;
}
.team-contacts {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}
.team-link,
.join-link {
  display: flex;
  background-color: var(--white-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus,
.join-link:hover,
.join-link:focus {
  background-color: #2196f3;
}
.team-link:hover .team-contacts-icon {
  fill: var(--white-color);
}
.team-link:focus .team-contacts-icon {
  fill: var(--white-color);
}

.team-contacts-item:nth-child(n + 2),
.join-item:nth-child(n + 2) {
  margin-left: 10px;
}
.team-contacts-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

